{#
  movie_details.html
  Displays details for a specific movie. Extends base.html.
#}
{% extends "base.html" %}

{% block content %}
<h1>{{ movie.Title }}</h1>
<img src="{{ movie.Poster }}" alt="Poster for {{ movie.Title }}" style="width: 200px;">
<p><strong>Year:</strong> {{ movie.Year }}</p>
<p><strong>Genre:</strong> {{ movie.Genre }}</p>
<p><strong>Director:</strong> {{ movie.Director }}</p>
<p><strong>Actors:</strong> {{ movie.Actors }}</p>
<p><strong>Plot:</strong> {{ movie.Plot }}</p>
<p><strong>IMDB Rating:</strong> {{ movie.imdbRating }}</p>
{% endblock %}