{#
  tv_center.html
  Displays centrist TV shows/series. Extends base.html.
#}
{% extends 'base.html' %}
{% block content %}
<h1>Centrist TV Shows/Series</h1>
<div class="gallery-scroll">
  {% for show in shows %}
    <div class="gallery-item">
      <a href="{{ url_for('movie_details', movie_id=show.imdbID) }}" class="unstyled-link">
        <img src="{{ show.Poster if show.Poster != 'N/A' else url_for('static', filename='no_poster.png') }}" alt="{{ show.Title }}">
        <div class="movie-title">{{ show.Title }}
          {% if show.avg_rating is not none %}
            {% set badge_class = 'bg-info text-dark' %}
            {% if show.avg_rating >= 70 %}
              {% set badge_class = 'bg-danger text-light' %}
            {% elif show.avg_rating <= 30 %}
              {% set badge_class = 'bg-primary text-light' %}
            {% elif 30 < show.avg_rating < 70 %}
              {% set badge_class = 'bg-warning text-dark' %}
            {% endif %}
            <span class="badge {{ badge_class }} ms-1">{{ show.avg_rating|round(1) }}</span>
          {% endif %}
        </div>
        <div class="movie-meta">
          <div class="movie-year">Year: {{ show.Year }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
